/**
 * @file
 * Page Background Styling
 *
 */


body {
    background: url(../images/pagebg_inner.jpg) center top no-repeat #011529;
}

body.front {
    background: url(../images/pagebg_front.jpg) center top no-repeat #011529;
}

#page-wrapper {
  border-bottom: 1px solid #c4d7e1;
  border-left: 1px solid #c4d7e1;
  border-right: 1px solid #c4d7e1;
}

#page {
}

#header {
}

#header .section {
}

#main-wrapper {
}

#main {
}

.region-footer {
}
