/**
 * @file
 * Page Background Styling
 *
 */


body {
    background: url(../images/pagebg_inner.jpg) center top no-repeat #011529;
}

body.front {
    background: url(../images/pagebg_front.jpg) center top no-repeat #011529;
}

body.admin-menu {
	background-position: center 29px;
}

#page-wrapper {
}

#page {
  border-bottom: 1px solid #c4d7e1;
  border-left: 1px solid #c4d7e1;
  border-right: 1px solid #c4d7e1;
}

#header {
}

#header .section {
}

#main-wrapper {
}

body.not-front #page-wrapper {
	background-image: url(../images/sidebar.png);
	background-position: 0px 246px;
	background-repeat: no-repeat;
}

#main {
}

.region-footer {
}
